.DS_Store
.venv
*.pyc

# Environment variables
agent.env
.env

# Python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Large data files (not needed in repo)
data/
faiss_index_books/
conversations/